.find-notes {
    display:block;
    margin: 73px 0 0 -22px;
    width: 20%;
    border: none;
    outline: none;
    height: 34px;
    color: #979797;
    font-size: 12px;
    padding: 0 10px 0 22px;
    border-radius: 2px;
    background: url(search.png) no-repeat 98% 50%;
    background-color: #FFF;
}